<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<div class="container">
    <div class="errors mt-5 mb-4">
        {% for message in flashes %}
            {% if message.alertLevel == constant('App\\ValueObject\\FlashMessage::ALERT_LEVEL_WARNING') %}
                {% set alertLevel = 'alert-warning' %}
            {% elseif message.alertLevel == constant('App\\ValueObject\\FlashMessage::ALERT_LEVEL_ERROR') %}
                {% set alertLevel = 'alert-danger' %}
            {% elseif message.alertLevel == constant('App\\ValueObject\\FlashMessage::ALERT_LEVEL_SUCCESS') %}
                {% set alertLevel = 'alert-success' %}
            {% endif %}
            <div class='alert {{ alertLevel }}' role='alert'>{{ message.message }}</div>
        {% endfor %}
    </div>

    {% block menu %}
        <ul class='nav nav-tabs mt-5 mb-4'>

            {% set menu = (user != null) ? adminMenu : userMenu %}
            {% for item in menu %}
                <li class='nav-item'>
                    <a class='nav-link {% if request.uri == item.target %}active{% endif %}'
                       aria-current='page'
                       href='{{ item.target }}'>
                        {{ item.label }}
                    </a>
                </li>
            {% endfor %}

        </ul>
    {% endblock %}

    <h1 class="mt-5 mb-4">
        {% block title %}
        {% endblock %}
    </h1>

    {% block body %}
    {% endblock %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>

</html>