{% extends 'layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <form method="post" action="{{ formTarget }}">
        <div class="mb-3">
            <label for="user" class="form-label">Username</label>
            <input type="text" class="form-control" name="user" value="{{ user.username }}"
                   {% if user != null %}readonly{% endif %} id="user" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password"
                   {% if user == null %}required{% endif %}>
        </div>
        <div class="mb-3">
            <label for="repeat-password" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" name="repeat-password" id="repeat-password"
                   {% if user == null %}required{% endif %}>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}